{% extends "base.html" %}
{% block content %}
<div class="bg-content">       
  <!--  content  -->      
   <div id="content"><div class="ic"></div>
    <div class="container">
          <div class="row">
        <article class="span8">
        <div style="line-height: 20px; margin-top: 50px;">
          英文名为Lisa，出生在英国利物浦，12岁移居澳大利亚。2006年来到中国，开创自己在中国的音乐事业，曾经是“五洲唱响”组合成员，当年该团体在星光大道中拥有很高的人气。之后李白离队，在2008年退出组合后，她留在中国，成为了一名英文老师。李白曾参加过央视3套综艺频道的《开门大吉》节目，当时主持这一节目的是撒贝宁的央视同事尼格买提。

　　李白现担任吉尼斯世界纪录大中华区裁判，曾在央视挑战节目《吉尼斯中国之夜》出镜。这个职位堪称"比大熊猫都珍稀"，全球仅有6名。李白的工作是监督比赛，保障一项新的吉尼斯世界纪录的诞生，这需要精准的点评与严谨的纪录。如果挑战者挑战成功，要宣布新纪录并颁发证书。

　　她曾在采访中自曝家庭背景，可谓相当优越："我父亲是名企业家，他会去很多不同的国家，见不同的人。上大学的时候我自己炒股，后来觉得挺没有意思，就全部抛掉了，然后自己在加拿大买了一座房子。"而撒贝宁则出生于一个军人家庭，撒爸爸撒世贵曾是一名演员，现在已是副处级调研员兼创作室制片人，电影家协会会员，电视艺术协会会员，论家世二人可以说相当般配。

　　而且，李白不仅是白富美，更是一枚高颜值的学霸。李白曾说当初决定来北京念书的时候，花了不到半年时间自学汉语。从小还特别爱学习，可以说是学习疯子。在高中的时候是全校第一名；在加拿大大学的时候，是念当地最好的法语大学。撒贝宁也是学霸，高三保送北京大学法学院，大四保送研究生，他还是北大广播电视台副台长、戏剧社社长。
英文名为Lisa，出生在英国利物浦，12岁移居澳大利亚。2006年来到中国，开创自己在中国的音乐事业，曾经是“五洲唱响”组合成员，当年该团体在星光大道中拥有很高的人气。之后李白离队，在2008年退出组合后，她留在中国，成为了一名英文老师。李白曾参加过央视3套综艺频道的《开门大吉》节目，当时主持这一节目的是撒贝宁的央视同事尼格买提。

　　李白现担任吉尼斯世界纪录大中华区裁判，曾在央视挑战节目《吉尼斯中国之夜》出镜。这个职位堪称"比大熊猫都珍稀"，全球仅有6名。李白的工作是监督比赛，保障一项新的吉尼斯世界纪录的诞生，这需要精准的点评与严谨的纪录。如果挑战者挑战成功，要宣布新纪录并颁发证书。

　　她曾在采访中自曝家庭背景，可谓相当优越："我父亲是名企业家，他会去很多不同的国家，见不同的人。上大学的时候我自己炒股，后来觉得挺没有意思，就全部抛掉了，然后自己在加拿大买了一座房子。"而撒贝宁则出生于一个军人家庭，撒爸爸撒世贵曾是一名演员，现在已是副处级调研员兼创作室制片人，电影家协会会员，电视艺术协会会员，论家世二人可以说相当般配。

　　而且，李白不仅是白富美，更是一枚高颜值的学霸。李白曾说当初决定来北京念书的时候，花了不到半年时间自学汉语。从小还特别爱学习，可以说是学习疯子。在高中的时候是全校第一名；在加拿大大学的时候，是念当地最好的法语大学。撒贝宁也是学霸，高三保送北京大学法学院，大四保送研究生，他还是北大广播电视台副台长、戏剧社社长。
英文名为Lisa，出生在英国利物浦，12岁移居澳大利亚。2006年来到中国，开创自己在中国的音乐事业，曾经是“五洲唱响”组合成员，当年该团体在星光大道中拥有很高的人气。之后李白离队，在2008年退出组合后，她留在中国，成为了一名英文老师。李白曾参加过央视3套综艺频道的《开门大吉》节目，当时主持这一节目的是撒贝宁的央视同事尼格买提。

　　李白现担任吉尼斯世界纪录大中华区裁判，曾在央视挑战节目《吉尼斯中国之夜》出镜。这个职位堪称"比大熊猫都珍稀"，全球仅有6名。李白的工作是监督比赛，保障一项新的吉尼斯世界纪录的诞生，这需要精准的点评与严谨的纪录。如果挑战者挑战成功，要宣布新纪录并颁发证书。

　　她曾在采访中自曝家庭背景，可谓相当优越："我父亲是名企业家，他会去很多不同的国家，见不同的人。上大学的时候我自己炒股，后来觉得挺没有意思，就全部抛掉了，然后自己在加拿大买了一座房子。"而撒贝宁则出生于一个军人家庭，撒爸爸撒世贵曾是一名演员，现在已是副处级调研员兼创作室制片人，电影家协会会员，电视艺术协会会员，论家世二人可以说相当般配。

　　而且，李白不仅是白富美，更是一枚高颜值的学霸。李白曾说当初决定来北京念书的时候，花了不到半年时间自学汉语。从小还特别爱学习，可以说是学习疯子。在高中的时候是全校第一名；在加拿大大学的时候，是念当地最好的法语大学。撒贝宁也是学霸，高三保送北京大学法学院，大四保送研究生，他还是北大广播电视台副台长、戏剧社社长。
英文名为Lisa，出生在英国利物浦，12岁移居澳大利亚。2006年来到中国，开创自己在中国的音乐事业，曾经是“五洲唱响”组合成员，当年该团体在星光大道中拥有很高的人气。之后李白离队，在2008年退出组合后，她留在中国，成为了一名英文老师。李白曾参加过央视3套综艺频道的《开门大吉》节目，当时主持这一节目的是撒贝宁的央视同事尼格买提。

　　李白现担任吉尼斯世界纪录大中华区裁判，曾在央视挑战节目《吉尼斯中国之夜》出镜。这个职位堪称"比大熊猫都珍稀"，全球仅有6名。李白的工作是监督比赛，保障一项新的吉尼斯世界纪录的诞生，这需要精准的点评与严谨的纪录。如果挑战者挑战成功，要宣布新纪录并颁发证书。

　　她曾在采访中自曝家庭背景，可谓相当优越："我父亲是名企业家，他会去很多不同的国家，见不同的人。上大学的时候我自己炒股，后来觉得挺没有意思，就全部抛掉了，然后自己在加拿大买了一座房子。"而撒贝宁则出生于一个军人家庭，撒爸爸撒世贵曾是一名演员，现在已是副处级调研员兼创作室制片人，电影家协会会员，电视艺术协会会员，论家世二人可以说相当般配。

　　而且，李白不仅是白富美，更是一枚高颜值的学霸。李白曾说当初决定来北京念书的时候，花了不到半年时间自学汉语。从小还特别爱学习，可以说是学习疯子。在高中的时候是全校第一名；在加拿大大学的时候，是念当地最好的法语大学。撒贝宁也是学霸，高三保送北京大学法学院，大四保送研究生，他还是北大广播电视台副台长、戏剧社社长。
英文名为Lisa，出生在英国利物浦，12岁移居澳大利亚。2006年来到中国，开创自己在中国的音乐事业，曾经是“五洲唱响”组合成员，当年该团体在星光大道中拥有很高的人气。之后李白离队，在2008年退出组合后，她留在中国，成为了一名英文老师。李白曾参加过央视3套综艺频道的《开门大吉》节目，当时主持这一节目的是撒贝宁的央视同事尼格买提。

　　李白现担任吉尼斯世界纪录大中华区裁判，曾在央视挑战节目《吉尼斯中国之夜》出镜。这个职位堪称"比大熊猫都珍稀"，全球仅有6名。李白的工作是监督比赛，保障一项新的吉尼斯世界纪录的诞生，这需要精准的点评与严谨的纪录。如果挑战者挑战成功，要宣布新纪录并颁发证书。

　　她曾在采访中自曝家庭背景，可谓相当优越："我父亲是名企业家，他会去很多不同的国家，见不同的人。上大学的时候我自己炒股，后来觉得挺没有意思，就全部抛掉了，然后自己在加拿大买了一座房子。"而撒贝宁则出生于一个军人家庭，撒爸爸撒世贵曾是一名演员，现在已是副处级调研员兼创作室制片人，电影家协会会员，电视艺术协会会员，论家世二人可以说相当般配。

　　而且，李白不仅是白富美，更是一枚高颜值的学霸。李白曾说当初决定来北京念书的时候，花了不到半年时间自学汉语。从小还特别爱学习，可以说是学习疯子。在高中的时候是全校第一名；在加拿大大学的时候，是念当地最好的法语大学。撒贝宁也是学霸，高三保送北京大学法学院，大四保送研究生，他还是北大广播电视台副台长、戏剧社社长。

        </div>  
        </article>
        <article class="span4">
          <h3 class="extra">Search</h3>
          <form id="search" action="search.php" method="GET" accept-charset="utf-8" >
            <div class="clearfix">
              <input type="text" name="s" onBlur="if(this.value=='') this.value=''" onFocus="if(this.value =='' ) this.value=''" >
              <a href="#" onClick="document.getElementById('search').submit()" class="btn btn-1">Search</a> </div>
          </form>
      <h3>最新文章</h3>
      <ul class="list extra extra1">
            <li><a href="#">１２３</a></li>
            <li><a href="#">４５６ veniam</a></li>
            <li><a href="#">４５６</a></li>
            <li><a href="#">４</a></li>
            <li><a href="#">１２３</a></li>
            <li><a href="#">４４</a></li>
            <li><a href="#">Faci４lisis</a></li>
            <li><a href="#">Lupt４４atum</a></li>
            <li><a href="#">Qui b４landit</a></li>                     
      </ul>
          <h3>分类</h3>
      <ul class="list extra extra1">
            <li><a href="#">Vonsequat</a></li>
            <li><a href="#">Utdminim veniam</a></li>
            <li><a href="#">Qullamcorper</a></li>
            <li><a href="#">Suscipitlobortis</a></li>
            <li><a href="#">Comnsequat</a></li>
            <li><a href="#">Duendrerit</a></li>
            <li><a href="#">Facilisis</a></li>
            <li><a href="#">Luptatum</a></li>
            <li><a href="#">Qui blandit</a></li>                     
      </ul>
          <h3>标签</h3>
          <div class="wrapper">
             <ul class="list extra2 list-pad ">
               <li><a href="#">python</a></li>
               <li><a href="#">C++</a></li>
               <li><a href="#">Ruby</a></li>
               <li><a href="#">PHP</a></li>
               <li><a href="#">Object-c</a></li>
               <li><a href="#">C#</a></li>
             </ul>
               <ul class="list extra2">
               <li><a href="#">python</a></li>
               <li><a href="#">C++</a></li>
               <li><a href="#">Ruby</a></li>
               <li><a href="#">PHP</a></li>
               <li><a href="#">Object-c</a></li>
               <li><a href="#">C#</a></li>
             </ul>
           </div>
          <h3>文章归档</h3>
         <div class="wrapper">
          <ul class="list extra2 list-pad ">
            <li><a href="#">May 2012</a></li>
            <li><a href="#">April 2012</a></li>
            <li><a href="#">March 2012</a></li>
            <li><a href="#">February 2012</a></li>
            <li><a href="#">January 2012</a></li>
            <li><a href="#">December 2011</a></li>
          </ul>
            <ul class="list extra2">
            <li><a href="#">November 2012</a></li>
            <li><a href="#">October 2012</a></li>
            <li><a href="#">September 2012</a></li>
            <li><a href="#">August 2012</a></li>
            <li><a href="#">July 2012</a></li>
            <li><a href="#">June 2012</a></li>
          </ul>
          </div>
        </article>
      </div>
     </div>
  </div>
 </div>

{% endblock content %}