{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="bg-content">       
  <!--  content  -->      
   <div id="content"><div class="ic"></div>
    <div class="container">
          <div class="row">
        <article class="span8">
        <div style="line-height: 20px; margin-top: 50px;">
        <h3>{{ articleinfo.title }}</h3>
        <div style="padding-bottom: 20px;">
           <time datetime="2012-11-09" class="date-1"><i class="icon-calendar icon-white"></i>&nbsp;{{ articleinfo.create_date }}</time>
            <div class="name-author"><i class="icon-user icon-white"></i>&nbsp;Admin</div>
            <div class="name-author">分类:<a href="{% url 'category_info' articleinfo.category.id %}">&nbsp;&nbsp;{{ articleinfo.category }}</a></div>
            <div class="name-author">标签:<a href="{% url 'tag_info' articleinfo.tag.id %}">&nbsp;&nbsp;{{ articleinfo.tag }}</a></div>
            <div class="name-author">浏览量:<a href="#">&nbsp;&nbsp;浏览量</a></div>
            <div class="clear"></div>  
        </div>          
          {{ articleinfo.content|safe }}
        </div>  
        </article>
{% include "article_right.html" %}
      </div>
     </div>
  </div>
 </div>
{% endblock content %}