{% extends "base.html" %}
{% block content %}
<div class="bg-content">       
  <!--  content  -->      
   <div id="content"><div class="ic"></div>
    <div class="container">
          <div class="row">
        <article class="span8">
         <div class="inner-1">         
          <ul class="list-blog">
          {% for article in articles %}
            <li>  
            <h3><a href="article_info/{{ article.id }}" id="{{ article.id }}">{{ article.title }}</a></h3>     
            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar icon-white"></i>&nbsp;{{ article.create_date }}</time>
            <div class="name-author"><i class="icon-user icon-white"></i>&nbsp;Admin</div>
            <div class="name-author">分类:<a href="{% url 'category_info' article.category.id %}">&nbsp;&nbsp;{{ article.category }}</a></div>
            <div class="name-author">标签:<a href="{% url 'tag_info' article.tag.id %}">&nbsp;&nbsp;{{ article.tag }}</a></div>
            <div class="name-author">浏览量:<a href="#">&nbsp;&nbsp;浏览量</a></div>
            <div class="clear"></div>            
              <img alt="" src="static/uploads/{{ article.article_image }}">                               
              <p>{{ article.description }}</p>
              <a href="article_info/{{ article.id }}" id="{{ article.id }}" class="btn btn-1">了解更多</a>          
            </li> 
          {% endfor %}       
          </ul>
          </div>  
        </article>
{% include "article_right.html" %}
      </div>
     </div>
  </div>
 </div>

{% endblock content %}