{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="bg-content">
      <div class="container">
    <div class="row">
          <div class="span12"> 
        <!-- slider -->
        <div class="flexslider">
          <ul class="slides">
              {% for banner in banners %}
                <li><img src="uploads/{{ banner.image }}" alt="" ></li>
              {% endfor %}
          </ul>
            </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
              <h2><a href="http://python-ning.github.io/about/">格言</a></h2>
              <div>
            <p style="line-height: 20px;"><i>Seeing is deceiving, dreaming is believing</i></p>
            <p style="text-align:center; padding-top:20px;"><a href="http://python-ning.github.io/about/" class="btn btn-1">python-ning</a></p>
          </div>
            </div>
      </div>
        </div>
  </div>
      
      <!-- content -->
      
      <div id="content" class="content-extra"><div class="ic"></div>
    <div class="row-1">
        <div class="container">
        <div class="row">
        <article class="span12">
        <h4>博客文章</h4>
         </article>
              <ul class="thumbnails thumbnails-1">
            {% for article in articles %}
              <li class="span3">
                <div class="thumbnail thumbnail-1">
                  <h5 style="color: #f25c27;">{{ article.title }}</h5>
                  <img  src="uploads/{{ article.article_image }}" alt="">
                  <section> 
                        <div class="meta">
                              <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i>{{ article.create_date }}</time>
                              <div class="name-author"><i class="icon-user"></i>Admin</div>
                              <a href="#" class="comments"><i class="icon-comment"></i> 7 comments</a>
                        </div>                       
                        <div class="meta">
                              <div class="name-author" style="padding-left: 0px;">
                                  分类:<a href="#">分类</a>
                                  &nbsp;&nbsp;&nbsp;
                                  标签:<a href="#">标签</a>
                              </div>
                        </div> 
                        <div class="clear"></div>
                        <p>{{ article.description }}</p>
                        <a href="{% url 'article_info' article.id %}" class="btn btn-1">了解更多</a> 
                  </section>
                </div>
              </li>
            {% endfor %}
          </ul>
            </div>
      </div>
        </div>
    <div class="row-2">
        <div class="container">
          <h3>python</h3>
            <h3>like python and love pythonlike python and love pythonlike python and love python </h3>
            <p>pythonpythonpythonpython </p>
            <a href="#" class="btn btn-1">download</a>
      </div>
        </div>
    <div class="row-1">
        <div class="container">
        <div class="row">
        <article class="span12">
        <h4>我的相册</h4>
         </article>
        <div class="clear"></div>
         <ul class="portfolio clearfix">
            {% for photo in photos %}
           <li class="box"><a href="uploads/{{ photo.image }}" class="magnifier" ><img alt="" src="uploads/{{ photo.image }}" style="width: 270px; height:192px;"></a></li> 
           {% endfor %}                                             
         </ul> 
      </div>
      </div>
    </div>
    <div class="container">
          <div class="row">
        <article class="span6">
              <h3>关于我</h3>
              <div class="wrapper">
            <figure class="img-indent"><img src="static/img/15.jpg " alt="" /></figure>
            <div class="inner-1 overflow extra"  style="line-height: 20px">
                  <div class="txt-1"  style="line-height: 20px">互联网某云服务公司研发员工</div>
                  喜欢技术，热爱技术，欢迎交流
                </div>
          </div>
            </article>
        <article class="span6">
              <h3>经常关注的技术网址：</h3>
                <div class="wrapper">
                    <ul class="list list-pad">
                          <li><a href="http://www.liaoxuefeng.com/">廖雪峰博客</a></li>
                          <li><a href="http://www.boyunjian.com/">拔云剑</a></li>
                          <li><a href="https://stackoverflow.com/">stack overflow</a></li>
                          <li><a href="http://project.codefrom.com/">开源项目集</a></li>
                        </ul>
                    <ul class="list list-pad">
                          <li><a href="http://www.csdn.net/">csdn</a></li>
                          <li><a href="https://segmentfault.com/">Segmentfault</a></li>
                          <li><a href="http://www.cnblogs.com/">博客园</a></li>
                          <li><a href="http://www.pythontab.com/">pythontab</a></li>
                        </ul>
                    <ul class="list list-pad">
                          <li><a href="http://runjs.cn/">runjs</a></li>
                          <li><a href="http://www.tuicool.com/">推酷</a></li>
                          <li><a href="http://www.jianshu.com/">简书</a></li>
                          <li><a href="http://toutiao.io/">开发者头条</a></li>
                        </ul>
                    <ul class="list">
                          <li><a href="http://www.zhihu.com/">知乎</a></li>
                          <li><a href="http://www.51cto.com/">51CTO</a></li>
                          <li><a href="http://github.com/">github</a></li>
                          <li><a href="http://www.oschina.net/">开源中国</a></li>
                    </ul>
                </div>
            </article>
      </div>
        </div>
  </div>
    </div>
{% endblock %}