{% extends "base.html" %}
{% block content %}
<div class="bg-content">
      <div class="container">
    <div class="row">
          <div class="span12"> 
        <!-- slider -->
        <div class="flexslider">
              <ul class="slides">
            <li><img src="static/img/slide-1.jpg" alt="" ></li>
            <li><img src="static/img/slide-2.jpg" alt="" ></li>
            <li><img src="static/img/slide-3.jpg" alt="" ></li>
            <li><img src="static/img/slide-4.jpg" alt="" ></li>
            <li><img src="static/img/slide-5.jpg" alt="" ></li>
          </ul>
            </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
              <h2>motto</h2>
              <div>
            <p style="line-height: 20px;"><i>Seeing is deceiving, dreaming is believing</i></p>
            <p style="text-align:center; padding-top:20px;"><a href="#" class="btn btn-1">motto</a></p>
          </div>
            </div>
      </div>
        </div>
  </div>
      
      <!-- content -->
      
      <div id="content" class="content-extra"><div class="ic"></div>
    <div class="row-1">
        <div class="container">
        <div class="row">
        <article class="span12">
        <h4>From blog</h4>
         </article>
              <ul class="thumbnails thumbnails-1">
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>标题</h3>
                <img  src="static/img/blog-featured-01.jpg" alt="">
                <section> 
                    <a href="#"><h3>At vero eos et accusamus et iusto </h3></a>
                      <div class="meta">
                            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                            <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                            <a href="#" class="comments"><i class="icon-comment"></i> 7 comments</a>
                        </div>                       
                        <div class="meta">
                            <div class="name-author" style="padding-left: 0px;">
                                分类:<a href="#">分类</a>
                                &nbsp;&nbsp;&nbsp;
                                标签:<a href="#">标签</a>
                            </div>
                        </div> 
                        <div class="clear"></div>
                      <p>Vivamus sollicitudin libero auctor arcu pulvinar commodo.</p>
                      <a href="#" class="btn btn-1">Read More</a> 
                </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>标题</h3>
                <img  src="static/img/blog-featured-01.jpg" alt="">
                <section> 
                    <a href="#"><h3>At vero eos et accusamus et iusto </h3></a>
                      <div class="meta">
                            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                            <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                            <a href="#" class="comments"><i class="icon-comment"></i> 7 comments</a>
                        </div>                       
                        <div class="meta">
                            <div class="name-author" style="padding-left: 0px;">
                                分类:<a href="#">分类</a>
                                &nbsp;&nbsp;&nbsp;
                                标签:<a href="#">标签</a>
                            </div>
                        </div> 
                        <div class="clear"></div>
                      <p>Vivamus sollicitudin libero auctor arcu pulvinar commodo.</p>
                      <a href="#" class="btn btn-1">Read More</a> 
                </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3>标题</h3>
                <img  src="static/img/blog-featured-03.jpg" alt="">
                <section> 
                    <a href="#"><h3>At vero eos et accusamus et iusto </h3></a>
                      <div class="meta">
                            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                            <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                            <a href="#" class="comments"><i class="icon-comment"></i> 7 comments</a>
                        </div>                       
                        <div class="meta">
                            <div class="name-author" style="padding-left: 0px;">
                                分类:<a href="#">分类</a>
                                &nbsp;&nbsp;&nbsp;
                                标签:<a href="#">标签</a>
                            </div>
                        </div> 
                        <div class="clear"></div>
                      <p>Vivamus sollicitudin libero auctor arcu pulvinar commodo.</p>
                      <a href="#" class="btn btn-1">Read More</a> 
                </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 class="title-1 extra">标题</h3>
                <img  src="static/img/blog-featured-04.jpg" alt="">
                <section> 
                    <a href="#"><h3>At vero eos et accusamus et iusto </h3></a>
                      <div class="meta">
                            <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i> 9.11.2012</time>
                            <div class="name-author"><i class="icon-user"></i> <a href="#">Admin</a></div>
                            <a href="#" class="comments"><i class="icon-comment"></i> 7 comments</a>
                        </div>                       
                        <div class="meta">
                            <div class="name-author" style="padding-left: 0px;">
                                分类:<a href="#">分类</a>
                                &nbsp;&nbsp;&nbsp;
                                标签:<a href="#">标签</a>
                            </div>
                        </div> 
                        <div class="clear"></div>
                      <p>Vivamus sollicitudin libero auctor arcu pulvinar commodo.</p>
                      <a href="#" class="btn btn-1">Read More</a> 
                </section>
              </div>
                </li>
          </ul>
            </div>
      </div>
        </div>
    <div class="row-2">
        <div class="container">
          <h3>Completly Customizable and Responsive</h3>
            <h3>Easy to Use. Totally Free to Download. Made with love!</h3>
            <p>The complete template is created using the Bootstrap framework, which is highly customizable with lots of options.</p>
            <a href="#" class="btn btn-1">Download</a>
      </div>
        </div>
    <div class="row-1">
        <div class="container">
        <div class="row">
        <article class="span12">
        <h4>我的相册</h4>
         </article>
        <div class="clear"></div>
         <ul class="portfolio clearfix">           
           <li class="box"><a href="static/img/image/1.jpg" class="magnifier" ><img alt="" src="static/img/photo/1.jpg"></a></li> 
           <li class="box"><a href="static/img/image/2.jpg" class="magnifier" ><img alt="" src="static/img/photo/2.jpg"></a></li> 
           <li class="box"><a href="static/img/image/3.jpg" class="magnifier" ><img alt="" src="static/img/photo/3.jpg"></a></li> 
           <li class="box"><a href="static/img/image/4.jpg" class="magnifier" ><img alt="" src="static/img/photo/4.jpg"></a></li> 
           <li class="box"><a href="static/img/image/5.jpg" class="magnifier" ><img alt="" src="static/img/photo/5.jpg"></a></li> 
           <li class="box"><a href="static/img/image/6.jpg" class="magnifier" ><img alt="" src="static/img/photo/6.jpg"></a></li> 
           <li class="box"><a href="static/img/image/7.jpg" class="magnifier" ><img alt="" src="static/img/photo/7.jpg"></a></li> 
           <li class="box"><a href="static/img/image/8.jpg" class="magnifier" ><img alt="" src="static/img/photo/8.jpg"></a></li>                       
         </ul> 
      </div>
      </div>
    </div>
    <div class="container">
          <div class="row">
        <article class="span6">
              <h3>Shortly about us</h3>
              <div class="wrapper">
            <figure class="img-indent"><img src="static/img/15.jpg " alt="" /></figure>
            <div class="inner-1 overflow extra"  style="line-height: 20px">
                  <div class="txt-1"  style="line-height: 20px">Mauris scelerisque odio quis leo viverra ac porttitor sem blandit. Sed tincidunt mattis varius. Nunc sodales ipsum nisl, eget lacinia nibh.</div>
                  Cras lacus tortor, tempus vitae porta nec, hendrerit id dolor. Nam volutpat gravida porta. Suspendisse turpis nibh, volutpat. 
                </div>
          </div>
            </article>
        <article class="span6">
              <h3>Some quick links</h3>
                <div class="wrapper">
                    <ul class="list list-pad">
                          <li><a href="#">Campaigns</a></li>
                          <li><a href="#">Portraits</a></li>
                          <li><a href="#">Fashion</a></li>
                          <li><a href="#">Fine Art</a></li>
                        </ul>
                    <ul class="list list-pad">
                          <li><a href="#">Campaigns</a></li>
                          <li><a href="#">Portraits</a></li>
                          <li><a href="#">Fashion</a></li>
                          <li><a href="#">Fine Art</a></li>
                        </ul>
                    <ul class="list list-pad">
                          <li><a href="#">Campaigns</a></li>
                          <li><a href="#">Portraits</a></li>
                          <li><a href="#">Fashion</a></li>
                          <li><a href="#">Fine Art</a></li>
                        </ul>
                    <ul class="list">
                          <li><a href="#">Advertising</a></li>
                          <li><a href="#">Lifestyle</a></li>
                          <li><a href="#">Love story</a></li>
                          <li><a href="#">Landscapes</a></li>
                    </ul>
                </div>
            </article>
      </div>
        </div>
  </div>
    </div>
{% endblock %}