{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="bg-content">
      <div class="container">
    <div class="row">
          <div class="span12"> 
        <!-- slider -->
        <div class="flexslider">
          <ul class="slides">
              {% for banner in banners %}
                <li><img src="static/uploads/{{ banner.image }}" alt="" ></li>
              {% endfor %}
          </ul>
            </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
              <h2>motto</h2>
              <div>
            <p style="line-height: 20px;"><i>Seeing is deceiving, dreaming is believing</i></p>
            <p style="text-align:center; padding-top:20px;"><a href="#" class="btn btn-1">motto</a></p>
          </div>
            </div>
      </div>
        </div>
  </div>
      
      <!-- content -->
      
      <div id="content" class="content-extra"><div class="ic"></div>
    <div class="row-1">
        <div class="container">
        <div class="row">
        <article class="span12">
        <h4>From blog</h4>
         </article>
              <ul class="thumbnails thumbnails-1">
            {% for article in articles %}
              <li class="span3">
                <div class="thumbnail thumbnail-1">
                  <h5 style="color: #f25c27;">{{ article.title }}</h5>
                  <img  src="static/uploads/{{ article.article_image }}" alt="">
                  <section> 
                        <div class="meta">
                              <time datetime="2012-11-09" class="date-1"><i class="icon-calendar"></i>{{ article.create_date }}</time>
                              <div class="name-author"><i class="icon-user"></i>Admin</div>
                              <a href="#" class="comments"><i class="icon-comment"></i> 7 comments</a>
                        </div>                       
                        <div class="meta">
                              <div class="name-author" style="padding-left: 0px;">
                                  分类:<a href="#">分类</a>
                                  &nbsp;&nbsp;&nbsp;
                                  标签:<a href="#">标签</a>
                              </div>
                        </div> 
                        <div class="clear"></div>
                        <p>{{ article.description }}</p>
                        <a href="{% url 'article_info' article.id %}" class="btn btn-1">了解更多</a> 
                  </section>
                </div>
              </li>
            {% endfor %}
          </ul>
            </div>
      </div>
        </div>
    <div class="row-2">
        <div class="container">
          <h3>python</h3>
            <h3>like python and love pythonlike python and love pythonlike python and love python </h3>
            <p>pythonpythonpythonpython </p>
            <a href="#" class="btn btn-1">download</a>
      </div>
        </div>
    <div class="row-1">
        <div class="container">
        <div class="row">
        <article class="span12">
        <h4>我的相册</h4>
         </article>
        <div class="clear"></div>
         <ul class="portfolio clearfix">           
           <li class="box"><a href="static/img/image/1.jpg" class="magnifier" ><img alt="" src="static/img/photo/1.jpg" style="width: 270px; height:192px;"></a></li>                       
           <li class="box"><a href="static/img/image/2.jpg" class="magnifier" ><img alt="" src="static/img/image/2.jpg" style="width: 270px; height:192px;"></a></li>                       
           <li class="box"><a href="static/img/image/3.jpg" class="magnifier" ><img alt="" src="static/img/image/3.jpg" style="width: 270px; height:192px;"></a></li>                       
           <li class="box"><a href="static/img/image/4.jpg" class="magnifier" ><img alt="" src="static/img/image/4.jpg" style="width: 270px; height:192px;"></a></li>                       
           <li class="box"><a href="static/img/image/5.jpg" class="magnifier" ><img alt="" src="static/img/image/5.jpg" style="width: 270px; height:192px;"></a></li>                       
           <li class="box"><a href="static/img/image/6.jpg" class="magnifier" ><img alt="" src="static/img/image/6.jpg" style="width: 270px; height:192px;"></a></li>                       
           <li class="box"><a href="static/img/image/7.jpg" class="magnifier" ><img alt="" src="static/img/image/7.jpg" style="width: 270px; height:192px;"></a></li>                       
           <li class="box"><a href="static/img/image/8.jpg" class="magnifier" ><img alt="" src="static/img/image/8.jpg" style="width: 270px; height:192px;"></a></li>                       
         </ul> 
      </div>
      </div>
    </div>
    <div class="container">
          <div class="row">
        <article class="span6">
              <h3>关于我</h3>
              <div class="wrapper">
            <figure class="img-indent"><img src="static/img/15.jpg " alt="" /></figure>
            <div class="inner-1 overflow extra"  style="line-height: 20px">
                  <div class="txt-1"  style="line-height: 20px">发工资发工资发工资发工资发工资发工资发工资发工资</div>
                  发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资发工资. 
                </div>
          </div>
            </article>
        <article class="span6">
              <h3>发工资</h3>
                <div class="wrapper">
                    <ul class="list list-pad">
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资 发工资</a></li>
                        </ul>
                    <ul class="list list-pad">
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资 发工资</a></li>
                        </ul>
                    <ul class="list list-pad">
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资 发工资</a></li>
                        </ul>
                    <ul class="list">
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资</a></li>
                          <li><a href="#">发工资 发工资</a></li>
                          <li><a href="#">发工资</a></li>
                    </ul>
                </div>
            </article>
      </div>
        </div>
  </div>
    </div>
{% endblock %}