{% extends "base.html" %}
{% block content %}
<div class="bg-content">       
  <!-- Content -->      
      <div id="content"><div class="ic"></div>
    <div class="container">
          <div class="row">
        <article class="span12">
        <h4>我的相册</h4>
         </article>
        <div class="clear"></div>
          <ul class="portfolio clearfix">           
              {% for photo in photos %}
              <li class="box">
                <a href="uploads/{{ photo.image }}" class="magnifier">
                  <img alt="" src="uploads/{{ photo.image }}" style="width: 270px; height:192px;" />
                </a>
              </li>
              {% endfor %}
          </ul> 
      </div>
        </div>
  </div>
    </div>
{% endblock content %}